body {
  font: 16px/1.4 monospace;
  max-width: 80ch;
  color-scheme: dark light;
  background: Canvas;
  color: CanvasText;
}
.screens {
  border-spacing: 0;
  border-collapse: separate;
  background: black;
  color: silver;
}
.screens > caption {
  color: CanvasText;
  background: Canvas;
  font-style: italic;
}
.screens > tbody > tr > :where(td, th) {
  padding: 0 0 4px 0;
}
.screens > tbody > tr:last-child > :where(td, th) {
  padding-bottom: 0;
}
.screens > * > tr > th {
  padding-left: 4px;
  padding-right: 4px;
}
.screens > thead > tr > th {
  padding: 4px;
}
.screens img {
  display: block;
  border: none;
  /* Adjust to 4:3 screen aspect ratio */
  width: 256px;
  height: 192px;
  /*image-rendering: pixelated;*/
}
h1 {
  font-size: 1.6em;
  display: inline;
}
h1 + p {
  display: inline;
}
h1::after {
  content: ",";
}
h2 { font-size: 1.4em }
h3 { font-size: 1.2em }
kbd {
  border: solid thin gray;
  border-radius: 2px;
  background: silver;
  color: black;
  padding: 0 3px;
}
figure {
  text-align: center;
}
figure > object { display: block; margin: auto }
figcaption {
  font-style: italic;
}
td > img:target { outline: thin yellow dashed }
:target { background-color: rgba(240, 240, 128, 0.2); }
@media (max-width: 1024px) {
  .screens > caption {
    text-align: left;
  }
}
a[href^="#room-"] { white-space: pre }
#room-preview { box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5) }
a[href*="://"]::after {
  content: "";
  display: inline-block;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 768 768"><path d="M584 664H104V184h216V80H0v688h688V448H584zM384 0l132 132-240 240 120 120 240-240 132 132V0z"/></svg>');
  -webkit-mask-size: 100% 100%;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-bottom: 4px;
  margin-bottom: calc(1ex - 3px);
  white-space: normal;
  background-color: currentColor;
}
